In [1]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [2]:
samples = ['The cat sat on the mat.', 'The dog ate my homework.']

In [29]:
# 1000 most common words
tokenizer = Tokenizer(num_words=10)

In [30]:
# Builds the word index
tokenizer.fit_on_texts(samples)

In [31]:
# Turns strings into lists of Integer indices
sequences = tokenizer.texts_to_sequences(samples)

In [32]:
sequences

[[1, 2, 3, 4, 1, 5], [1, 6, 7, 8, 9]]

In [33]:
# One Hot Binary representation
one_hot_results = tokenizer.texts_to_matrix(samples, mode='binary')

In [34]:
one_hot_results

array([[0., 1., 1., 1., 1., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 1., 1., 1., 1.]])

In [35]:
word_index = tokenizer.word_index

In [36]:
word_index

{'the': 1,
 'cat': 2,
 'sat': 3,
 'on': 4,
 'mat': 5,
 'dog': 6,
 'ate': 7,
 'my': 8,
 'homework': 9}

In [37]:
print('Found %s unique tokens.' % len(word_index))

Found 9 unique tokens.

In [38]:
import pandas as pd

In [39]:
one_hot = pd.DataFrame(one_hot_results)

In [40]:
one_hot

     0    1    2    3    4    5    6    7    8    9
0  0.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [41]:
one_hot.index = ["Doc 1", "Doc 2"]

In [42]:
one_hot

         0    1    2    3    4    5    6    7    8    9
Doc 1  0.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
Doc 2  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [43]:
one_hot.drop(0 , axis = 1 , inplace = True)

In [44]:
one_hot

         1    2    3    4    5    6    7    8    9
Doc 1  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
Doc 2  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [45]:
word_index

{'the': 1,
 'cat': 2,
 'sat': 3,
 'on': 4,
 'mat': 5,
 'dog': 6,
 'ate': 7,
 'my': 8,
 'homework': 9}

In [50]:
len(word_index)

9

In [52]:
col = []

for i , j in word_index.items(): 
    print(i)
    print(j) 
    for k in range(len(word_index)+1):
        if k == j:
            col.append(i)

            
col

the
1
cat
2
sat
3
on
4
mat
5
dog
6
ate
7
my
8
homework
9

['the', 'cat', 'sat', 'on', 'mat', 'dog', 'ate', 'my', 'homework']

In [53]:
one_hot

         1    2    3    4    5    6    7    8    9
Doc 1  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
Doc 2  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [54]:
one_hot.columns = col

In [55]:
one_hot

       the  cat  sat   on  mat  dog  ate   my  homework
Doc 1  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0       0.0
Doc 2  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0       1.0